@import '@fontsource-variable/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 254;
    --foreground: 45 51 74;

    --card: 255 255 254;
    --card-foreground: 45 51 74;

    --popover: 255 255 254;
    --popover-foreground: 45 51 74;

    --primary: 255 225 55;
    --primary-foreground: 39 35 67;

    --secondary: 228 246 245;
    --secondary-foreground: 39 35 67;

    --muted: 228 246 245;
    --muted-foreground: 113 111 128;

    --accent: 171 232 232;
    --accent-foreground: 39 35 67;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 156 181;
    --input: 160 156 181;
    --ring: 255 255 254;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
